body {
    font-style: 'New Times Roman';
    text-align: center;
    color: white;
    background: purple;
}

h1 {
    margin-top: 20px;
}

p {
    margin-bottom: 20px; 
}

#actions {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 110px);
    gap: 10px;
    justify-content: center; 
}